<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml11-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>{{page.title}}</title>
  <link rel="stylesheet" type="text/css" href="css/web.css" />

  <script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

</head>

<body class="default">
<div id="container">

  <div id="content">
    {{content}}
  </div>
  
  <div id="footer">
    <p>&copy; 2014 Bradley Strauss</p>
  </div>

</div>

</body>
</html>
