<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml11-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>{{page.title}}</title>
  <link rel="stylesheet" type="text/css" href="css/web.css" />

</head>
<body class="default">
<div id="container">

  <div id="content">
    {{content}}
  </div>
  
  <div id="footer">
    <p><a href="http://www.gnu.org/software/emacs" title="GNU Emacs"><img src="./images/emacs.png" alt="GNU Emacs" /></a><br />
      &copy; 2014</p>
  </div>

</div>

</body>
</html>
